<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Chabot CSS -->
    <link rel="stylesheet" href="static/css/chat.css">

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>SafetyCheck</title>
  </head>
  <body>   
    <div class="site-navbar-wrap">
      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-2">
              <img src="static/images/logo.png" width="30" height="30" alt="Logo">
              <h2>SafetyCheck</h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/deteksi" class="nav-link">Detection</a></li>
                    <li><a href="/about" class="nav-link">About</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero" style="background-image: url('static/images/home.png');">
        <div class="button-wrapper">
            <div class="herofont">
            <h1 class="fonts" style="font-weight: bold">Artificial Intelligence For <br> Safety Construction</h1>
            <h4>Mengoptimalkan penggunaan APD Konstruksi dengan Deteksi <br> Objek dan Chatbot Terintegrasi.</h4>
            </div>            
            <a href="/deteksi"><button class="button-about">Start Detection</button></a>
          </div>
      </div>
      <div class="txt-slide">
        <h1 class="fonts" style="font-weight: bold">Our Features</h1>
      </div>
      <div class="text2">
        <h4>SafetyCheck memiliki dua fitur unggulan untuk menjaga keselamatan pekerja konstruksi <br> deteksi APD serta membantu menemukan informasi dengan chatbot responsif.</h4>
    </div>
      <div class="slider-container">
        <div class="slide">
          <a href="/deteksi"><img src="static/images/slide1.png" alt="Gambar"></a>
          <div class="slide-text">
            <a href="/deteksi"><button class="button-objek" style="font-weight: bold">Object Detection</button></a>
            <p class="font-slide">Salah satu fitur website SafetyCheck adalah deteksi objek. Fitur ini bertujuan untuk mengidentifikasi dan menentukan lokasi dari Alat Pelindung Diri (APD) yang digunakan pekerja.</p>
          </div>
        </div>
        <div class="slide">
          <img src="static/images/slidebot.png">
          <div class="slide-text">
            <a href="/chatbot"><button class="button-objek" style="font-weight: bold">SafeBot</button></a>
            <p class="font-slide">SafeBot adalah chatbot informasi tentang Keamanan dan Kesehatan Kerja Konstruksi (K3) yang dimulai dari alat-alat pelindung diri, manfaat, risiko, pelatihan, dan sertifikasi dari K3 loh!</p>
          </div>
        </div>
      </div>  
      <div class="container1">
        <div class="text-container">
          <h1 class="fonts" style="font-weight: bold">SafetyCheck</h1>
          <h4>SafetyCheck merupakan sebuah platform berbasis website yang digunakan <br> untuk mendeteksi APD dan membantu menemukan informasi terkait K3 <br> dengan chatbot responsif. Dengan SafetyCheck diharapkan dapat meminimalkan <br> risiko kecelakaan kerja.</h4>
          <a href="/about"><button class="button-objek">About Us</button></a>
        </div>
        <div class="image-container1">
          <img src="static/images/logo.png" alt="Gambar">
        </div>
      </div>

      <!-- Chatbot -->
      <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
               <div class="chatbox__image--header">
                <img src="static/images/logo_safebot.png" alt="Logo Safebot">
               </div>
               <div class="chatbox__content--header">
                <h5 class="chatbox__heading--header">Safebot</h5>
               </div>
            </div>
            <div class="chatbox__messages" id="chatbot">
                <div id="conversation">
                    <!-- <div class="messages__item messages__item--visitor">
                        Hai!
                    </div> -->
                    <div class="messages__item messages__item--operator">
                        Halo, aku Safebot!👋 Ada yang mau ditanyakan?
                    </div>
                    <!-- .<div class="messages__item messages__item--typing">
                        <span class="messages__dot"></span>
                        <span class="messages__dot"></span>
                        <span class="messages__dot"></span>
                    </div> -->
                </div>
            </div>
            <form id="input-form" class="chatbox__footer">
                <input id="input-field" type="text" placeholder="Tulis pesanmu disini" required>
                <button id="submit-button" type="submit">
                  <img src="static/images/send.svg" alt="" height="30px" width="30px"/>
                </button>
                <!-- <a href="#" role="button" class="chatbox__send--footer">
                  <img src="static/images/send.svg" alt=""/>
                </a> -->
              </form>
        </div>
        <a href="#" class="chatbox__button" role="button">
          <img src="static/images/livechat.png" alt="Live Chat" />
        </a> 
        <!-- <div class="chatbox__button">
            <button>I'm a button!</button>
        </div> -->
    </div>
      <!-- Chabot End -->
      <!-- <a href="/chatbot" class="livechat">
        <img src="static/images/livechat.png" alt="Live Chat" />
      </a>             -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/slider.js"></script>
    <script src="static/js/Chat.js"></script>
    <script src="static/js/app.js"></script>
  </body>
  <footer class="footer">
    <div class="footer-left">
      <figure>
        <img src="static/images/logo.png" alt="gambar footer">
        <p><a href="https://www.example.com">safetycheck@gmail.com</a></p>
      </figure> 
    </div>
    <div class="footer-right">
      <figure>
        <p >Support By:</p>
        <a href="https://orbitfutureacademy.id/"><img src="static/images/orbit.png" alt="gambar1"></a>
          <a href="https://ittelkom-pwt.ac.id/"><img src="static/images/fayza.png" alt="gambar2"></a>
          <a href="https://www.amikompurwokerto.ac.id/"><img src="static/images/aji.png" alt="gambar3"></a>
          <a href="https://www.ukdw.ac.id/"><img src="static/images/ardi.png" alt="gambar4"></a>
          <a href="https://unmaha.ac.id/"><img src="static/images/kinanti.png" alt="gambar5"></a>
      </figure>   
    </div>
    <p class="footer-copyright">
      &copy; 2023 Broyden1. All rights reserved.
    </p>
  </footer>
  
</html>